.a{
    height: 450;width:600;background-color: black;
}
.b{
    height: 450;width: 100;background-color: bisque;float: left;
}
.c{
    height:100;width: 100;background-color: blue;
}
.d{
    height:350;width: 100;background-color: aqua;
}
.e{
    height: 250;width: 100;background-color: aquamarine;
}
.f{
    height: 100;width: 100;background-color: brown;
}
.g{
    height: 100;width: 50;background-color: palegreen;float: left;
}
.h{
    height: 100;width: 50;background-color: yellowgreen;float: left;
}
.i{
    height: 450;width: 500;background-color: blueviolet;float: left;  
}
.j{
    height: 100;width: 500;background-color: chartreuse;
}
.k{
    height:100;width: 400;background-color: chocolate;float: left;
}
.l{
    height: 100;width: 100;background-color: pink;float: left;
}
.m{
    height: 50;width: 100;background-color: purple;
}
.n{
    height: 50;width: 50;background-color: maroon;float: left;
}
.o{
    height: 50;width: 50;background-color: gold;float: right;
}
.p{
    height:350;width:500;background-color:burlywood;float: left;
}
.q{
    height:50;width:500;background-color:skyblue;float: left;
}
.r{
    height:300;width:500;background-color:red;float: right;
}
.s{
    height:300;width:100;background-color:plum;float: left;
}
.t{
    height:150;width:100;background-color:khaki;float: left;
}
.u{
    height:150;width:50;background-color:orange;float: left;
}
.v{
    height:150;width:50;background-color:green;float: right;
}
.w{
    height:150;width:100;background-color:lightblue;
}
.x{
    height:300;width:400;background-color:coral;float: left;
}
.y{
    height:300;width:100;background-color:firebrick;float: left;
}
.z{
    height:300;width:300;background-color:indianred;float: left;
}
.vas{
    height:100;width:300;background-color:forestgreen;float: left;
}
.sra{
    height:200;width:300;background-color:rebeccapurple;float: left;
}
.bha{
    height:200;width:100;background-color:tan;float: left;
}
.chi{
    height:100;width:100;background-color:peru;float: left;
}
.sus{
    height:100;width:100;background-color:fuchsia;float: left;
}
.vin{
    height:100;width:50;background-color:teal;float: left;
}
.rak{
    height:100;width:50;background-color:darkred;float: right;
}
.hem{
    height: 200;width: 200;background-color: darkblue;float: left;
}
.ris{
    height: 200;width: 100;background-color: violet;float: left;
}
.vim{
    height: 200;width: 100;background-color: beige;float: left;
}
.joy{
    height:100;width:100;background-color:cornflowerblue;float: right;
}
.vig{
    height: 100;width: 100;background-color: crimson;float: right;
}
.sai{
    height: 100;width: 50;background-color: hotpink;float: left;
}
.nag{
    height: 100;width: 50;background-color: skyblue;float: right;
}